<div class="noteFull">
  <%= form_for [@notepad, note], method: :PUT do |f|%>
    <p>
      <%= f.text_area :text, size: "32x20", class: "noteText" %>
    </p>
    <p>
      <%= f.submit "Update", class: "noteUpdateBtn" %>
      <%= link_to 'Delete', [note.notepad, note], method: :delete, data: { confirm: 'Are you sure?' }, class: "noteDeleteBtn" %>
    </p>
  <% end %>
</div>
