<%= form_for [@notepad, note], :method => :PUT do |f|%>
  <p>
    <%= f.text_area :text, size: "32x18" %>
  </p>
  <p>
    <%= f.submit %>
    <%= button_to 'Delete', [note.notepad, note], method: :delete, data: { confirm: 'Are you sure?' } %>
  </p>
<% end %>
